* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  font-family: sans-serif;
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

a {
  color: inherit;
  text-decoration: none;
}
