.main {
  height: calc(100vh - 100px);
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
  flex-wrap: wrap;
}

.flex-col-nowrap {
  @extend .flex-col;
  flex-wrap: nowrap;
}
.w-15 {
  width: 25%;
}
.w-50 {
  width: 25%;
}
.w-75 {
  width: 75%;
}
.w-fill {
  width: 100%;
}
.p-25 {
  padding: 1.25rem;
}
