.container {
  border: 0;
  height: 165px;
  padding: 13px;
  border-radius: 8px;
  background: white;
  box-shadow: 2px 3px 4px 3px rgba(0, 1, 0, 0.18);
  p {
    font-size: 18px;
    margin-top: 10px;
    padding-left: 20px;
    line-height: 135.86%;
    text-transform: capitalize;
  }
}
.container p {
  margin: 10px 0;
}
