.sidebar {
  background-color: $bgColor;
  height: 100vh;
  position: fixed;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  width: calc(160px + 4%);
  padding-left: 40px;
  .main-title {
    font-size: 17px;
    margin-top: 10px;
  }
}
.other-links {
  width: 20%;
  justify-content: space-between;
}
.links {
  display: block;
  padding-top: 60px;
  width: 100%;
  font-size: 20px;
  margin-bottom: 0.8rem;
  .link {
    display: flex;
    padding: 2px 0;
    margin-bottom: 25px;
    position: relative;
    cursor: pointer;
    .desc {
      font-weight: 600;
      font-size: 14px;
      position: absolute;
      left: 40px;
      color: #7c7a7a;
    }
  }
}
.tools-con {
  padding-top: 170px;
  hr {
    margin-right: 30px;
    border: 0.2px solid #7c7a7a;
  }
  .tools {
    color: #7c7a7a;
    padding-top: 15px;
    .tool {
      position: relative;
      display: flex;
      padding: 2px 0;
      margin-bottom: 20px;
      cursor: pointer;
      .desc {
        position: absolute;
        left: 40px;
        font-weight: 600;
        font-size: 14px;
      }
      .first-desc {
        top: 4px;
      }
    }
  }
}
nav {
  position: absolute;
  right: 0;
  width: 100vw;
  padding: 0.5rem 0;
  padding-left: 0.25rem;
  display: flex;
  justify-content: space-between;
  .main-title {
    align-self: center;
    margin-left: 4%;
  }
  > ul {
    width: 100px;
    > li {
      a,
      .dropdown__title {
        text-decoration: none;
        text-align: center;
        display: inline-block;
      }
    }
  }
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  li {
    padding: 0;
  }
}
.dropdown {
  position: relative;
  &__menu a {
    text-decoration: none;
    text-align: left;
    margin-left: 10px;
  }
  .dropdown__title {
    pointer-events: none;
    .menu-con {
      display: flex;
      background: #e5e9ee;
      padding: 10px 15px;
      border-radius: 8px;
    }
    .profile {
      .image {
        width: 32px;
        height: 32px;
        background: url('https://images.unsplash.com/photo-1504568758572-1c648768a420?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60')
          no-repeat 50% -10%;
        background-size: cover;
        border-radius: 50%;
      }
      padding-right: 15px;
    }
    .menu {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 3px 0;
      .dot {
        width: 4.5px;
        height: 4.5px;
        background: #152a46;
        border-radius: 50%;
      }
    }
  }
  &:hover,
  &:focus-within {
    .dropdown__menu {
      opacity: 1;
      transform: rotateX(0) translateX(-50%);
      z-index: 10;
    }
  }
  .dropdown__menu {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0.15em 0.25em rgba(black, 0.25);
    padding: 0.5em 0;
    min-width: 15ch;
    position: absolute;
    top: calc(100% + 0.25rem);
    left: 25%;
    transform: translateX(-50%);
    transform: rotateX(-90deg) translateX(-50%);
    transform-origin: top center;
    opacity: 0.3;
    z-index: -10;
    transition: 280ms all 120ms ease-out;
    a {
      color: #444;
      padding: 0.5em;
      font-size: 14px;
      font-weight: 600;
    }
  }
}
